.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
compose.yml

**/node_modules
**/npm-debug.log
**/.env
**/.env.*
**/.DS_Store
**/coverage
**/build
**/dist
**/.cache
**/tmp
**/*.tmp
**/~$*.*
